<div id="chart"></div>
<form class="pure-form" action='/home/index' method='get'>
  <select placeholder="Choose a Government Department/Agency" class="chosen-select" name="agency_query">
    <% @agencies.each do |agency| %>
      <option value="<%=agency.id%>" ><%= agency.name %></option>
    <% end %>
  </select>
  <input placeholder="Search by Vendor" name="vendor"></input>
  <button type="submit">Submit</button>
</form>
<%= button_to "Download Data", contracts_download_path(format: "csv"), method: :get %>
