<div id="chart"></div>
<form class="pure-form" action='/home/index' method='get'>
  <select placeholder="Choose a Government Department/Agency" class="chosen-select" multiple name="agencies[]">
    <% @agencies.each do |agency| %>
      <option value="<%=agency.id%>" ><%= agency.name %></option>
    <% end %>
  </select>
  <input placeholder="Search by Vendor" name="vendors[]"></input>
  <input placeholder="Search by Vendor" name="vendors[]"></input>
  <input placeholder="Search by Vendor" name="vendors[]"></input>
  <button type="submit">Submit</button>
</form>
<form action="<%=contracts_download_url(@params, format: "csv", contracts: @params)%>" method='get'>
<button>Download Data</button>
</form>