// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Lucida Console", monospace;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 1em;
    font-family: "Lucida Console", monospace;
    padding: 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #333333;
    font-size: 0.7em;
    font-weight: 0.1em;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    font-size: 1.2em;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: 0.1em solid #d35400;
    z-index: 4;
}

.home-menu a {
    color: #d35400;
}
.home-menu li a:hover {
    background-color: #674172;
    text-decoration: none;
}

.banner {
  height: 100vh;
  background: url("city_scape.jpg") fixed no-repeat center;
  font-weight: 2em;
}

div.text-boxes {
    margin: 30vh;
    display: inline-block;
    overflow: hidden;
}

.description {
    text-align: center;
    height: 12em;
    color: #22313F;
    background-color: #D2D7D3;
    margin-right: 4%;
    margin-left: 4%;
    opacity: 0.9;
    font-family: "Lucida Console", monospace;
    padding: 0.3em;
}

div.call-to-action {
   margin-left: 39%;
   margin-top: -20vh;
}

.pure-button#scroll-to {
    height: 12%;
    width: 35%;
}

.explore {
    margin-top: 8%;
    padding: 1em;
}

.pure-form legend {
    font-size: 1.2em;
    border-bottom: none;
}

.submit {
    font-size: 0.9em;
    margin-top: 8%;
}

.footer {
    text-decoration: none;
    border-top: 0.1em solid #D35400;
    text-align: center;
    font-size: 0.7em;
    max-height: 5vh;
}

.fa-file-excel-o {
    font-size: 6em;
}

.links i.fa {
    color: #d35400;
}

.links {
    padding: 2em;
    margin-top: 6%;
}

.advanced-search {
    margin-top: 20%;
    float: right;
    display: block;
}

#csv-download {
    text-decoration: none;
    border-bottom: 1px dashed #d35400; 
    margin-top: 22%;
}
#csv-download i {
    font-size: 4em;
}

.csv:hover {
    text-decoration: none;
}
.csv {
    text-decoration: none;
    color: #d35400;
}

select.chosen-select {
    font-family: "AtlasTypewriterRegular", "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;
    font-size: 0.9em;
}

div input.pure-u-1 {
    font-family: "AtlasTypewriterRegular", "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;
    font-size: 0.8em;
}

.fa-2 {
   color: #d35400;
   text-decoration: none;
}

.footer a {
  text-decoration: none;
  color: #d35400;
}

.pure-menu li a:hover {
   background: none;
   color: #34495E;
}

.pure-button {
   background-color: #D35400;
   color: #ffffff;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    body {
        font-size: 16px;
    }
    .content {
        padding: 1em;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    .splash {
        width: 80%;
    }
}
